div.image-container{
    text-align: center;
}
a{
    display: block;
    margin:auto;
    align-items: center;
    width: 300px;
    text-align: center
}
div.container-fluid{
    width: 400px;
    text-align: center;
    alignment-adjust: central;
}

login{
    
    text-align: center;
}
quot{
    text-align: center
    
}.w3-padding-32 {

}
