/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jul, 2017, 1:53:14 AM
    Author     : ANUPAM THAKUR
*/

div
{
   text-align: center;
   alignment-adjust: central;
   
}

table{
    align-items:  center;
}



    
   
    